.box{
    width: 800px;
    height: 400px;
    background-color: rgba(74, 111, 128, 0.775);
    margin: 0 auto;
    border-radius: 4%;
    overflow: hidden;
    margin-bottom: 50px !important;
    position: relative;
    
    
}
@media only screen and (max-width: 528px) {
    .box{
        width: 350px;
        height: 280px;
    }
    .im{
        width:180px !important ;
        height: 80px !important;
    }
  }
.bbb{
    position: absolute;
    right: 10px;
    margin-top: 10px;
    padding: 7px;
    border-radius: 3px;
    background-color: chartreuse;
}
span{
    color: blue;
    margin-left: 6px;
}
.im{
    width: 350px;
    height: 200px;
    margin-top: 20px;
    border-radius: 10%;
    object-fit: cover;
}
